# Mengabaikan API Key asli agar tidak bocor ke GitHub / publik
.streamlit/secrets.toml

# Mengabaikan folder lingkungan virtual Python jika ada
.venv/
env/
venv/

# Mengabaikan file cache Python
__pycache__/
*.pyc